body {
  background: #eff3f3;
  color: #325258;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: auto;
  min-height: 100%;
  height: 100%;
  width: 1000px;
}

h1, h2 {
    font-family: Verdana, Geneva, sans-serif;
}

header img, header nav {
    float: left;
} 

p {
    border-radius: 3px;
    border-bottom: 4px solid #93e5ab;
    background-color: #f8fafa;
    padding: 20px 30px;
}

main img {
    border-radius: 5px;
}

header {
    background-color: #f8fafa;
    box-shadow: 0 0 4px 0 #09464d;
    height: 100px;
}

nav ul {
    margin: 0;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    line-height: 60px;
    letter-spacing: 1px;
    display: block;
    padding: 20px;
    color: #325258;
}

nav ul li a:hover {
    color: #09464d;
    background-color: #93e5ab;
}

.gallery {
    text-align: center;
}

.gallery img {
    margin: 15px;
}

footer {
    clear: both;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
    padding-bottom: 95px;
}