body {
  background: #eff3f3;
  color: #325258;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: auto;
  min-height: 100%;
  height: 100%;
  width: 1000px;
}

header {
    width: 1000px;
    top: 0px;
    transition: transform .2s;
    position: fixed;
    margin-top: 0;
    z-index: 101;
    background-color: #f8fafa;
    box-shadow: 0 0 4px 0 #09464d;
    min-height: 60px;
    box-sizing: border-box;
    display: flex;
}

main {
    padding-top: 122px;
}

h1, h2 {
    font-family: Verdana, Geneva, sans-serif;
}


p {

}

.text-section {
    border-radius: 3px;
    border-bottom: 4px solid #93e5ab;
    background-color: #f8fafa;
    padding: 20px 30px;
    margin-top: 20px;
}

main img {
    border-radius: 5px;
}

#logo {
    display: block;
}

.nav {
    position: relative;
    z-index: 2;
    width: 70%;
    margin: auto;
}

nav {
}

nav ul {
    margin: 0;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    line-height: 60px;
    letter-spacing: 1px;
    display: block;
    padding: 20px;
    color: #325258;
    border-bottom: 3px solid transparent;
}

nav ul li a:hover {
    color: #09464d;
    background-color: #93e5ab;
}

.backlink {
    text-decoration: none;
    display: block;
    padding: 20px;
    color: #325258;
    font-size: large;
    text-align: center;
    margin: 10px 0;
}

.backlink:hover {
    color: #08c03f;
}

.gallery {
    text-align: center;
}

.gallery img {
    margin: 15px;
}

br.clear {
    height: 0px;
    clear: both;
}

.confirm {
    text-align: center;
    margin-top: 50px;
}

.confirm button {
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid transparent;
    box-shadow: 0 0 3px 0 #09464d;
    padding: 9px 14px;
    font-size: 1.2em;
    background-color: #93e5ab;
}

.confirm button:hover {
    box-shadow: 0 0 0 0 transparent;
}

.stars {
    float: right;
}

#faq h3 {
    margin-bottom: 8px;
}

#faq p {
    margin-top: 0px;
    margin-left: 20px;
}

#faq hr {
    border-top: 1px solid #65b891;
}

footer {
    clear: both;
   /* position: absolute;*/
    bottom: 0;
    text-align: center;
    width: 100%;
    border-radius: 3px;
    border-top: 4px solid #93e5ab;
    background-color: #f8fafa;
    padding: 10px 0px;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }

#content-wrap {
    padding-bottom: 50px;
}
