body {
  background: #eff3f3;
  color: #325258;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: auto;
  min-height: 100%;
  height: 100%;
  width: 1000px;
}

h1, h2 {
    font-family: Verdana, Geneva, sans-serif;
}

header img, header nav {
    float: left;
} 

.text-section {
    border-radius: 3px;
    border-bottom: 4px solid #93e5ab;
    background-color: #f8fafa;
    padding: 20px 30px;
    margin-top: 20px;
}

main img {
    border-radius: 5px;
}

header {
    background-color: #f8fafa;
    box-shadow: 0 0 4px 0 #09464d;
    height: 100px;
}

nav ul {
    margin: 0;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    line-height: 60px;
    letter-spacing: 1px;
    display: block;
    padding: 20px;
    color: #325258;
}

nav ul li a:hover {
    color: #09464d;
    background-color: #93e5ab;
}

.gallery {
    text-align: center;
}

.gallery img {
    margin: 15px;
}

form div, .quantity-price div {
    padding-top: 15px;
}

.product-order {
    float: left;
}

.product-order h3 {
    margin-top: 0;
}

.totals {
    font-weight: bolder;
}

div.product-order {
    width: 600px;
    margin-left: 30px;
}

div.quantity-price {
    float: right;
    width: 200px;
}

.shipping-cost {
    width: 500px;
    float: left;
}

table.shipping-cost {
    border-radius: 3px;
    border: 1px solid #8da9ad;
    border-bottom: 4px solid #93e5ab;
    padding: 20px 30px;
    margin-top: 20px;
}

.shipping-cost td:nth-child(2) {
    text-align: right;
}

.shipping-cost td {
    padding: 3px 0;
}

.delivery-option {
    float: right;
    width: 400px;
}

h2.delivery-option {
    float: right;
    width: 462px;
}

br.clear {
    height: 0px; 
    clear: both;
}

div.delivery-option {
    border-radius: 3px;
    border: 1px solid #8da9ad;
    border-bottom: 4px solid #93e5ab;
    padding: 20px 30px;
    margin-top: 20px;
}

.shipping-cost {
    width: 500px;
}

footer {
    clear: both;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
    padding-bottom: 95px;
}

